/* #icon-card{
    height: 220px;
    width: 200px;
    border-color:#decd09;
    box-shadow: 1px 2px rgb(131, 130, 130);
    align-items: center;
    padding-top: 20px;
    
   
    
   
   
    
}

#icons{
    height: 60px;
    width: 80px;
    
    
}
#icon-head{
    
    color: #FFC107 ;
    

}
#icon-text{
    color: black;
   

}

#maincard{
     
    align-items: center;
    justify-content: center;
   
} */
#iconimg{
    height: 80px;
    width: 80px;   
}
#main-card{
    align-items: center;
    height: 250px;
    padding: 10px;
    border-color: #938a00;
    box-shadow: 2px 2px 1px rgb(230, 226, 195);
    margin: 7px;
}
.card-body p{
    color: #000;
    padding: 0;
}
#icon-head{
    color: rgb(189, 162, 12);
    padding-bottom: 0;
    padding-top: 10px;
    font-weight: bold;

}
#servicehead{
    color:#938a00 ;
    font-weight: bold;
    font-size: 40px;
    padding-left: 10px;
    margin: 30px;
}