.card img{
    height: 400px;
}
#h2a{
    text-align: center;

padding-bottom: 40px;
padding-top: 40px;
 color:#938a00;
 font-family:"Titillium Web", sans-serif;
 font-size: 40px;
 font-weight: bold;

}
.btn{
   /* margin-left: 90px; */
   color: white;
  text-align: center;
}
#menu{
    /* padding-left: 80px; */
    color:#FFC107 ;
    text-align: center;
}
/* .card-text{
    color: rgb(218, 28, 28);
    /padding-left: 100px; 
    text-align: center;

} */
#card-main{
    margin: 20px;
}
#cardt{
   align-items: center;
    
}
#menuimg{
    height: 300px;
}
